<div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 mx-auto contenedor-entrada">
  <h2 class="text-center text-black-50">Entrada usuario</h2>
  <form #formEntrada="ngForm" (ngSubmit)="OnSubmit()">
    <div class="col-12 form-group">
      <label>Entrada Usuario</label>
      <input #documento="ngModel" name="documento" [(ngModel)]="Ent.documento" class="form-control" placeholder="Digite numero de documento" type="number" autocomplete="off" required autofocus>
    </div>
    <div class="d-flex justify-content-around">
      <button class="btn btn-sm btn-success">Entrada</button>
      <button class="btn btn-sm btn-info">Entrada con observaciones</button>
    </div>
  </form>
</div>
