.contenedor-entrada {
  margin-top: 25vh;
  border: 1px solid #cccc;
  background: #fff;
  border-radius: 15px;
  box-shadow: 1px 2px #cccc;
  padding: 15px;
}

.inputfull {
  width: 100%;
}

@media (max-width:320px) {
  .mtCal {
    margin-top: 10vh;
  }
}

/* soporte en calidad de una impresora */
