 <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 mx-auto contenedor-entrada">
  <h2 class="text-center text-black-50">Entrada usuario</h2>
  <form #formEntrada="ngForm" (ngSubmit)="OnSubmit()">
    <mat-form-field appearance="outline" class="inputfull">
        <mat-label>Documento</mat-label>
        <input matInput #documento="ngModel" name="documento" [(ngModel)]="Ent.documento" autocomplete="off" placeholder="Docuemnto" autofocus>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    <div class="d-flex justify-content-center">
      <button class="btn btn-sm btn-success">Entrada</button>
    </div>
  </form>
</div>

