<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <a class="navbar-brand text-white-50">Usuario</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="[ './vista' ]" [routerLinkActive]="['activado']">vista</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="[ '/' ]" >#</a>
          </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-danger my-2 my-sm-0" [routerLink]="['/']">log out</button>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>
