.login-container{
  box-shadow: 2px 4px #cccc;
  border-radius: 25px;
  width: 390px;
  height: 400px;
  /* background-color: rgba(236, 236, 236, 0.226); */
  background-image: linear-gradient(to right, rgba(22, 22, 22, 0.048), rgba(226, 226, 226, 0.103));
}

.alertCont {
  margin-top: 18vh;
  width: 390px;
  height: 400px;
}

.mtmenos{
  margin-top: -6.5vh;
}

.cardLog {
  border-radius: 25px;
  width: 390px;
  height: 400px;
}

.mat-progress-spinner{
  stroke: #17a2b8;
}

.inputfull {
  width: 100%;
  margin-top: 2vh;
}

.sizes {
  font-size: 10px;
}

svg path,
svg rect{
  fill: blue;
}

.spinner {
  width: 40px;
  height: 40px;
}

